@keyframes logo-spin {
	0% {
	background-image: url("~/images/svg/logo/film0.svg");
	}
	6.667% {
		background-image: url("~/images/svg/logo/film1.svg");
	}

	13.334% {
		background-image: url("~/images/svg/logo/film2.svg");
	}

	20.001% {
		background-image: url("~/images/svg/logo/film3.svg");
	}

	26.668% {
		background-image: url("~/images/svg/logo/film4.svg");
	}

	33.335% {
		background-image: url("~/images/svg/logo/film5.svg");
	}

	40.002% {
		background-image: url("~/images/svg/logo/film6.svg");
	}

	46.669% {
		background-image: url("~/images/svg/logo/film7.svg");
	}

	53.336% {
		background-image: url("~/images/svg/logo/film8.svg");
	}

	60.003% {
		background-image: url("~/images/svg/logo/film9.svg");
	}

	66.67% {
		background-image: url("~/images/svg/logo/film10.svg");
	}

	73.337% {
		background-image: url("~/images/svg/logo/film11.svg");
	}

	80.004% {
		background-image: url("~/images/svg/logo/film12.svg");
	}

	86.671% {
		background-image: url("~/images/svg/logo/film13.svg");
	}

	93.338% {
		background-image: url("~/images/svg/logo/film14.svg");
	}

	100% {
		background-image: url("~/images/svg/logo/film0.svg");
	}
}