.button-up {
  @extend .theme;
  z-index: 99;
  transform: translateY(200%) scale(0) !important;
  outline: none;
  background-image: url(../../src/images/svg/arrowup.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.5s;
}

.button-up.button-up-active {
  transform: translateY(-100%) scale(1) !important;
}

.button-up:hover {
  opacity: 1;
  transform: scale(1.1) translateY(-112%) !important;
  transition: 0.5s;
}
