.header-button {
  text-transform: uppercase;
  background-color: transparent;
  color: $font-color-main;
  border: 0;
  line-height: 1.17;
  padding: 0;
  cursor: pointer;
  transition: $animationDuration;

  &.current {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $color-accent;
    }
  }

  &:hover {
    color: $color-buttons-grey;
  }
}

.header__logbuttons-list {
  display: inline-flex;
  width: max-content;
  //   display: block;
  margin-left: auto;
  color: $font-color-main;
  position: relative;
  overflow: hidden;
  margin-right: 20px;
}

.header__button-log {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 2px;
  background-color: transparent;
  text-transform: capitalize;
  color: $color-accent;
  padding: 1px;
  border: none;
  display: inline-flex;
  align-items: center;
  top: 0;
  right: 0;
  opacity: 0.7;
  transition: transform $animationDuration $animationTimeFunction;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.404);
  }

  &:hover::after {
    transition: 0.5s $animationTimeFunction;
  }
  &:hover {
    opacity: 1;
    transition: $animationDuration $animationTimeFunction;
  }

  &:first-child {
    transform: translateX(-101%);
  }

  &:first-child::after {
    transform: translateX(101%) scaleX(0);
  }
  &:first-child:hover::after {
    transform: translateX(-101%) scaleX(1);
  }

  &:last-child {
    position: absolute;
  }

  &:last-child::after {
    transform: translateX(-101%) scaleX(0);
  }
  &:last-child:hover:after {
    transform: translateX(101%) scaleX(1);
  }

  & > img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}

.header__logbuttons-list.authorized > .header__button-log {
  &:first-child {
    transform: translateX(0);
  }
  &:last-child {
    transform: translateX(101%);
  }
}
