.container {
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width: $mobile) {
		width: 300px;
	}

	@media screen and (min-width: $tablet) {
		width: 736px;
		padding-left: 16px;
		padding-right: 16px;
	}

	@media screen and (min-width: $desktop) {
		width: 992px;
	}
}