main {
  position: relative;
  padding: 20px 0 40px;

  @media screen and (min-width: $tablet) {
    padding: 60px 0;
  }

  @media screen and (min-width: $desktop) {
    padding: 32px 0 60px;
  }
}

.films-list {
  position: relative;
  text-align: start;
  @media screen and(min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
    row-gap: 32px;
  }
  @media screen and(min-width: $desktop) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
  }
}

.films-list__item {
  // min-height: 300px;
  margin-top: 32px;
  transition: $animationDuration;
  border-radius: 5px;
  overflow: hidden;

  &:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  &:first-child {
    margin-top: 0;
  }
  // &:nth-child(2) {
  //   @media screen and (min-width: $tablet) {
  //     margin-top: 0;
  //   }
  // }
  // &:nth-child(3) {
  //   @media screen and (min-width: $desktop) {
  //     margin-top: 0;
  //   }
  // }
  @media screen and (min-width: $tablet) {
    margin-top: 0;
  }
}

@import './film-card/film-card';
