@charset "UTF-8";
/*
 * Головний файл стилів.
 * Всі паршали підключаємо сюди.
 */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  font-style: normal;
}

pre {
  font-family: inherit;
  margin: 0;
  text-decoration: none;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
}

.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 736px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 992px;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
}

.loader {
  position: relative;
  width: 30px;
  height: 30px;
}

.loader span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(calc(18deg * var(--i)));
          transform: rotate(calc(18deg * var(--i)));
}

.loader span::before {
  content: '';
  position: absolute;
  right: 0;
  top: calc(50% - 1.5px);
  width: 3px;
  height: 3px;
  background: #FF6B01;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1px #FF6B01, 0 0 4px #FF6B01, 0 0 8px #FF6B01;
          box-shadow: 0 0 1px #FF6B01, 0 0 4px #FF6B01, 0 0 8px #FF6B01;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  -webkit-animation-delay: calc(0.1s * var(--i));
          animation-delay: calc(0.1s * var(--i));
}

.modal {
  max-width: 280px;
  height: auto;
  background-color: aquamarine;
  margin: auto;
  padding: 48px 20px;
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 704px;
    padding: 40px 36px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .modal {
    max-width: 814px;
    height: 558px;
    padding: 40px 16px;
    grid-gap: 0 16px;
  }
}

.film-poster {
  width: 240px;
  height: 357px;
  border-radius: 5px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .film-poster {
    width: 264px;
    height: 373px;
  }
}

@media screen and (min-width: 1024px) {
  .film-poster {
    width: 375px;
    height: 478px;
  }
}

.film__title {
  margin-top: 20px;
  text-align: start;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  color: #000000;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .film__title {
    margin-top: 0;
  }
}

.film-profile {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 0 39px;
}

.film-profile__list {
  text-align: start;
}

.film-profile__item + .film-profile__item {
  margin-top: 8px;
}

.film-charac {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8C8C8C;
}

.film-charac-value {
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  color: #000000;
}

.film-charac-value--accent {
  display: inline-block;
  padding: 1px 10px;
  width: 36px;
  color: #ffffff;
  background-color: #FF6B01;
  border-radius: 5px;
}

.film-charac-value.accent {
  text-transform: uppercase;
}

.film-description {
  margin-top: 20px;
  text-align: start;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #000000;
  text-transform: uppercase;
}

.film-description__text {
  margin-top: 8px;
  text-align: start;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  color: #000000;
}

.btn-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 0 20px;
  margin-top: 20px;
}

.btn {
  height: 44px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  border-radius: 5px;
}

.btn.watched {
  border: none;
  color: #ffffff;
  background-color: #FF6B01;
}

.btn.queue {
  border: 1px solid #000000;
  color: #000000;
}
/*# sourceMappingURL=main.css.map */