<form class='container auth-form' data-js='auth-form'>
  <label for='email' class='auth-form__label' style='--clr: #ff6b01'>
    <input
      class='auth-form__text-input'
      type='text'
      name='email'
      id='email'
      required='required'
      pattern='^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$'
      title='Enter a valid email address.'
    />
    <span class='auth-form__input-name'> email </span>
  </label>
  <label for='password' class='auth-form__label' style='--clr: #ff6b01'>
    <input
      class='auth-form__text-input'
      type='password'
      name='password'
      id='password'
      required='required'
      minlength='6'
      maxlength='12'
      pattern='^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$'
      title='Please include at least 1 uppercase character, 1 lowercase character, and 1 number.'
    />
    <span class='auth-form__input-name'> password </span>
    <div class='auth-form__input-tip'>The password length between 6 and 12 characters. Use only
      Latin characters which contained minimum is 1 small letter, 1 capital letter and 1 number</div>
  </label>
  <div class='controls'>
    <div class='controls_buttonbox'>
      <button
        style='--clr: #32a57f'
        disabled='disabled'
        class='controls__btn controls__btn--sign-in'
        name='sign-in-with-email-password'
        type='submit'
        value='Sign-in'
      >
        <span>Sign-in</span>
        <i></i>
      </button>
      <button
        style='--clr: #ff6b01'
        class='controls__btn controls__btn--register'
        name='sign-up-with-email-password'
        type='submit'
        value='Create account'
      >
        <span>Create account</span>
        <i></i>
      </button>
    </div>
    <button
      class='controls__btn--google'
      name='sign-in-with-google-account'
      type='button'
      value='Continue with Google'
    >
      <img
        src='https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg'
        alt=''
      />
      <span>Sign in with google </span>
    </button>
  </div>
  <button type='button' class='form_close-button'>Close</button>
</form>
