.modal {
  // overflow-y: auto;
  max-width: 280px;
  height: 100vh;
  margin: auto;
  padding: 48px 20px;

  background-color: $color-main;
  
  @media screen and (min-width: $tablet) {
    max-width: 704px;
    height: auto;
    padding: 40px 36px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: $desktop) {
    max-width: 814px;
    height: 558px;
    padding: 40px 16px;
    grid-gap: 0 16px;
  }
}

.film-poster {
  width: 240px;
  height: 357px;

  border-radius: 5px;
  overflow: hidden;

  @media screen and (min-width: $tablet) {
    width: 264px;
    height: 373px;
  }

  @media screen and (min-width: $desktop) {
    width: 375px;
    height: 478px;
  }
}

.film__title {
  margin-top: 20px;
  text-align: start;

  font-family: $font-main;
  font-weight: $font-weight-major;
  font-size: 20px;
  line-height: 1.15;

  color: #000000;
  text-transform: uppercase;
  @media screen and (min-width: $tablet) {
    margin-top: 0;
  }
}

// стилизация блока profile фильма

.film-profile {
  margin-top: 20px;

  display: grid;
  grid-template-columns: 70px 1fr;
  grid-gap: 8px 39px;
    &__name{
      text-align: start;
      font-family: $font-main;
      font-weight: $font-weight-major;
      font-size: $font-size-major;
      line-height: $font-height-major;
      
      color: #8c8c8c;
    }
    &__value{
      text-align: start;
      font-family: inherit;
      font-weight: $font-weight-major;
      font-size: $font-size-major;
      line-height: $font-height-major;
        
      color: #000000;
        
        &-votes {
          display: inline-block;
          text-align: center;
          padding-top: 1px;
          // padding: 1px 10px;
          width: 36px;
        
          color: #000000;
          background-color:#F7F7F7;
          border-radius: 5px;
          &.accent{
            color: $color-main;
            background-color: $color-accent;
          }
        }
        
        &.accent {
          text-transform: uppercase;
        }
    }

  @media screen and (min-width: $tablet) {
    grid-gap: 8px 32px;
  }
  @media screen and (min-width: $desktop) {
    grid-gap: 8px 83px;
  }
}

// стилизация блока описание фильма
.film-description {
  margin-top: 20px;
  text-align: start;

  font-family: $font-main;
  font-weight: $font-weight-major;
  font-size: $font-size-major;
  line-height: $font-height-major;

  color: #000000;
  text-transform: uppercase;
  &__text {
    margin-top: 8px;
    text-align: start;

    font-family: $font-main;
    font-weight: $font-weight-major;
    font-size: $font-size-major;
    line-height: 1.66;

    color: #000000;
  }
}

// стилизация блока кнопок

.btn-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  margin-top: 20px;
  @media screen and (min-width: $tablet) {
    column-gap: 15px;
  }
  @media screen and (min-width: $desktop) {
    grid-template-columns: 136px 136px;
  }
}

.modal_close-button {
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  padding: 0 0;
  cursor: pointer;

  position: absolute;
  z-index: 1;
  top: 16px;
  right: 16px;

  background: none;
  color: transparent;
  border: 0;
  outline: none;
  overflow: hidden;
  
    &::before {
      content: ' ';
      display: block;
      width: 18px;
      height: 1.5px;
      transform-origin: left;
      
      position: absolute;
      top: 0;
      transform: rotate(45deg);
  
      background-color: #000000;
    }
  
    &::after {
      content: ' ';
      display: block;
      width: 18px;
      height: 1.5px;
      transform-origin: left;

      position: absolute;
      bottom: 0;
      transform: rotate(-45deg);

      background-color: #000000;
    }
  }


// .btn{
//     height: 44px;

//     font-family: $font-main;
//     font-weight: $font-weight-major;
//     font-size: $font-size-major;
//     line-height: $font-height-major;

//     border-radius: 5px;
//     &.watched{
//         // padding: 6px 27px;
//         border: none;

//         color: $color-main;
//         background-color: $color-accent;
//     }
//     &.queue{
//         // padding: 13px 14px;
//         border: 1px solid #000000;

//         color: #000000;
//     }
// }
