<footer class="footer">
    <div class="container">
        <p class="footer-decsr">
            <span class="footer-text">
        © 2022

        <span data-key="rights">| All Rights Reserved |</span>
            </span>
            <span class="footer-heart">
        <span data-key="developed">Developed with</span>
            <svg width="14" height="13" viewBox="0 0 200 200">
          <g transform="translate(100 100)">
            <path
              transform="translate(-50 -50)"
              fill="#FF6B08"
              d="M92.71,7.27L92.71,7.27c-9.71-9.69-25.46-9.69-35.18,0L50,14.79l-7.54-7.52C32.75-2.42,17-2.42,7.29,7.27v0 c-9.71,9.69-9.71,25.41,0,35.1L50,85l42.71-42.63C102.43,32.68,102.43,16.96,92.71,7.27z"
            ></path>
            <animateTransform
              attributeName="transform"
              type="scale"
              values="1.25; 1.5; 1.75; 2; 1.5;"
              dur="1.5s"
              repeatCount="indefinite"
              additive="sum"
            ></animateTransform>
          </g>
        </svg>

            <a id="footer" class="footer__link js-team-link" href="#footer" rel="noreferrer noopener" data-key="students">
          by GoIT Students
        </a>
            </span>
        </p>
    </div>
</footer>