<!-- Tanya -->
<header>
  <a href="index.html" class="logo_link">
    <img src="images/svg/film.svg" alt="My Happy SVG" />
    <p>Filmoteka</p>
  </a>

  <input type="text" class="header_input" id="name-input" placeholder="Movie search" />
  <!-- <button type="button" class="header_button">Watched</button>
    <button type="button" class="header_button">queue</button> -->

  <ul>
    <li><button type="button" class="header_button">Home</button></li>
    <li><button type="button" class="header_button">my library</button></li>
  </ul>
</header>
