<!-- Tanya -->
<header>
  <div class="container">
    <div class="header-box">
      <a href="index.html" class="logo-link">
        <img class="logo-img" src="images/svg/film.svg" alt="My Happy SVG" />
        <p>Filmoteka</p>
      </a>

      <ul class="header-list">
        <li><button type="button" class="header-button current">Home</button></li>
        <li><button type="button" class="header-button">my library</button></li>
      </ul>
    </div>

    <div class="input-box">
      <input
        type="text"
        class="header-input"
        id="name-input"
        placeholder="Movie search"
        autocomplete="off"
      />
    </div>
  </div>
</header>
