<header>
  <div class="container">
    <div class="header-box">
      <button type="button" href="index.html" data-load="home" class="logo-button">
        <img class="logo-img" src="images/svg/film.svg" alt="Filmoteka logo" />
        <p>Filmoteka</p>
      </button>
      <ul class="header-list">
        <li><button type="button" class="header-button current" data-load="home">Home</button></li>
        <li><button type="button" class="header-button" data-load="library">my library</button></li>
      </ul>
    </div>
    <div class="input-box">
      <input
        type="text"
        class="header-input visu"
        id="name-input"
        placeholder="Movie search"
        autocomplete="off"
      />
    </div>
    <ul class="input-box-lib visually-hidden">
      <li>
        <button type="button" class="button-action current-button" data-action="watched">
          watched
        </button>
      </li>
      <li>
        <button type="button" class="button-action" data-action="queue">queue</button>
      </li>
    </ul>
  </div>
</header>
