<div class="team-container">
  <article class="person-card">
    <div class="person-data">
      <img class="person-image" src="./images/svg/team-logo.svg" alt="Soul kitchen logo" />
    </div>
  </article>
  <div class="thereisnospoon">
    <div class="team-list__box">
      <ul class="team-list">
        <li class="team-list__item">
          <div class="team-list__image-box">
            <img
              data-name="dmytro"
              class="team-list__image"
              srcset="
                images/team/colorized-demo/dmytro1x.png 125w,
                images/team/colorized-demo/dmytro2x.png 250w
              "
              src="images/team/colorized-demo/dmytro1x.png"
              alt="Dmytro Prokoptsov"
            />
          </div>
        </li>
        <li class="team-list__item">
          <div class="team-list__image-box">
            <img
              data-name="iryna"
              class="team-list__image"
              srcset="
                images/team/colorized-demo/iryna1x.png 125w,
                images/team/colorized-demo/iryna1x.png 250w
              "
              src="images/team/colorized-demo/iryna1x.png"
              alt="Iryna Honchar"
            />
          </div>
        </li>
        <li class="team-list__item">
          <div class="team-list__image-box">
            <img
              data-name="mykola"
              class="team-list__image"
              srcset="
                images/team/colorized-demo/mykola1x.png 125w,
                images/team/colorized-demo/mykola2x.png 250w
              "
              src="images/team/colorized-demo/mykola1x.png"
              alt="Mykola Tymoshchuk"
            />
          </div>
        </li>
        <li class="team-list__item">
          <div class="team-list__image-box">
            <img
              data-name="oleksandr"
              class="team-list__image"
              srcset="
                images/team/colorized-demo/oleksandr1x.png 125w,
                images/team/colorized-demo/oleksandr2x.png 250w
              "
              src="images/team/colorized-demo/oleksandr1x.png"
              alt="Oleksandr Kaplunenko"
            />
          </div>
        </li>
        <li class="team-list__item">
          <div class="team-list__image-box">
            <img
              data-name="serhii"
              class="team-list__image"
              srcset="
                images/team/colorized-demo/serhii1x.png 125w,
                images/team/colorized-demo/serhii2x.png 250w
              "
              src="images/team/colorized-demo/serhii1x.png"
              alt="Serhii Rybak"
            />
          </div>
        </li>
        <li class="team-list__item">
          <div class="team-list__image-box">
            <img
              data-name="svitlana"
              class="team-list__image"
              srcset="
                images/team/colorized-demo/svitlana1x.png 125w,
                images/team/colorized-demo/svitlana2x.png 250w
              "
              src="images/team/colorized-demo/svitlana1x.png"
              alt="Svitlana Fedorenko"
            />
          </div>
        </li>
        <li class="team-list__item">
          <div class="team-list__image-box">
            <img
              data-name="taras"
              class="team-list__image"
              srcset="
                images/team/colorized-demo/taras1x.png 125w,
                images/team/colorized-demo/taras2x.png 250w
              "
              src="images/team/colorized-demo/taras1x.png"
              alt="Taras Bondar"
            />
          </div>
        </li>
        <li class="team-list__item">
          <div class="team-list__image-box">
            <img
              data-name="tetiana"
              class="team-list__image"
              srcset="
                images/team/colorized-demo/tetiana1x.png 125w,
                images/team/colorized-demo/tetiana2x.png 250w
              "
              src="images/team/colorized-demo/tetiana1x.png"
              alt="Tetiana Mykhailenko"
            />
          </div>
        </li>
        <!-- <li class="team-list__item">
                <div class="team-list__image-box">
                  <img
                    class="team-list__image"
                    src="/images/1x/ivan@1x.png"
                    alt=""
                  />
                </div>
              </li> -->
      </ul>
    </div>
    <div class="team-list__box">
      <ul class="team-list">
        <li class="team-list__item">
          <div class="team-list__image-box">
            <img
              data-name="dmytro"
              class="team-list__image"
              srcset="
                images/team/colorized-demo/dmytro1x.png 125w,
                images/team/colorized-demo/dmytro2x.png 250w
              "
              src="images/team/colorized-demo/dmytro1x.png"
              alt="Dmytro Prokoptsov"
            />
          </div>
        </li>
        <li class="team-list__item">
          <div class="team-list__image-box">
            <img
              data-name="iryna"
              class="team-list__image"
              srcset="
                images/team/colorized-demo/iryna1x.png 125w,
                images/team/colorized-demo/iryna1x.png 250w
              "
              src="images/team/colorized-demo/iryna1x.png"
              alt="Iryna Honchar"
            />
          </div>
        </li>
        <li class="team-list__item">
          <div class="team-list__image-box">
            <img
              data-name="mykola"
              class="team-list__image"
              srcset="
                images/team/colorized-demo/mykola1x.png 125w,
                images/team/colorized-demo/mykola2x.png 250w
              "
              src="images/team/colorized-demo/mykola1x.png"
              alt="Mykola Tymoshchuk"
            />
          </div>
        </li>
        <li class="team-list__item">
          <div class="team-list__image-box">
            <img
              data-name="oleksandr"
              class="team-list__image"
              srcset="
                images/team/colorized-demo/oleksandr1x.png 125w,
                images/team/colorized-demo/oleksandr2x.png 250w
              "
              src="images/team/colorized-demo/oleksandr1x.png"
              alt="Oleksandr Kaplunenko"
            />
          </div>
        </li>
        <li class="team-list__item">
          <div class="team-list__image-box">
            <img
              data-name="serhii"
              class="team-list__image"
              srcset="
                images/team/colorized-demo/serhii1x.png 125w,
                images/team/colorized-demo/serhii2x.png 250w
              "
              src="images/team/colorized-demo/serhii1x.png"
              alt="Serhii Rybak"
            />
          </div>
        </li>
        <li class="team-list__item">
          <div class="team-list__image-box">
            <img
              data-name="svitlana"
              class="team-list__image"
              srcset="
                images/team/colorized-demo/svitlana1x.png 125w,
                images/team/colorized-demo/svitlana2x.png 250w
              "
              src="images/team/colorized-demo/svitlana1x.png"
              alt="Svitlana Fedorenko"
            />
          </div>
        </li>
        <li class="team-list__item">
          <div class="team-list__image-box">
            <img
              data-name="taras"
              class="team-list__image"
              srcset="
                images/team/colorized-demo/taras1x.png 125w,
                images/team/colorized-demo/taras2x.png 250w
              "
              src="images/team/colorized-demo/taras1x.png"
              alt="Taras Bondar"
            />
          </div>
        </li>
        <li class="team-list__item">
          <div class="team-list__image-box">
            <img
              data-name="tetiana"
              class="team-list__image"
              srcset="
                images/team/colorized-demo/tetiana1x.png 125w,
                images/team/colorized-demo/tetiana2x.png 250w
              "
              src="images/team/colorized-demo/tetiana1x.png"
              alt="Tetiana Mykhailenko"
            />
          </div>
        </li>
        <!-- <li class="team-list__item">
                <div class="team-list__image-box">
                  <img
                    class="team-list__image"
                    src="/images/1x/ivan@1x.png"
                    alt=""
                  />
                </div>
              </li> -->
      </ul>
    </div>
  </div>

  <div class="team-container__creators">
    <h2 class="team-container__background-title">The project was completed by</h2>
  </div>
</div>
