.overlay {
  visibility: hidden;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.modal-creators {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all $animationDuration $animationTimeFunction;
  z-index: 10;

  &.active {
    transform: translate(-50%, -50%) scale(1);
    transition: all $animationDuration $animationTimeFunction;
  }
  //   &.team-container {
  //   }
}

.modal-creators.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}
