.theme{
    width: 35px;
    height: 35px;
    padding: 5px 5px;
    
    position: fixed;
    bottom:1em;
    left: 1em;

    background-color: #737373;
    border-radius: 5px;
    cursor: pointer; 
}

// стилизация фона темной темы
.dark{
    background-color: #181818;
}



