.theme{
    width: 35px;
    height: 35px;
    padding: 5px 5px;
    
    position: fixed;
    bottom:1em;
    left: 1em;

    background-color: #737373;
    border-radius: 5px;
    cursor: pointer; 
}
.change-theme{
    margin: auto;
}

// стилизация фона темной темы
body.dark{
    background-color: #181818;
}

.footer.dark{
    background-color: #00000050;
}

.footer-text.dark{
    color: #ffffff90;
}
.footer-heart.dark{
    color:#ffffff90;
}
.footer__link.dark{
    color: #ffffff90;
}



